@media all and ( max-width : 759px ) {

  /* 공통영역 */

  #overflow{
    width: 100%;
    overflow: hidden;
  }
  
  #wrap{
     width: 100%;
  }

  body{
    background-color: #191A20;
  }
  
  
 
  header,section,footer{
     width: 100%;
     float: left;
     position: relative;
/*      background-color: lightblue; */
  }
 
  .container{
     width: 85% ;
     margin: 0 auto;
  }
 
  .text_box{
    margin: 20px 20PX 20px 20px;
    height: 35px;
    font-size: 21px;
    color: #fff;
    font-weight: 900;
  }
 
      
  #sec04 span{
    font-weight: 300;
  }
 
  #cir04{
   position: absolute;
   top: -20px;
   left: 0;
   z-index: -1;
 }


 /* 이미지 2개로 바꾸기  얘매하기 이벤트 
 가운데 이미지는 1개 빙글빙글 다음에 ---
 폰트 사이즈 줄이기 
 스판테그는 사이즈가 안잡힌다. 위에 id 주기 
 제일 작은 버전으로 한다. 그 500
 버튼 크기 키우고 타이트한 거 넓히기 
 둥근 네모 길이 길게 
 hover 지우기 
 스토리 부분 가로롤 길게
 제일 작은 부분에서 반정도

 밑에 개인정보 지우기  로고 올리고 글 그거 하기
 가운데 여백 줄이기
 */
 
 
 .circle_img{
   top: 0%;
   left: 0%;
   z-index: -1;
 }
 
 .sec05_cir{
   position: absolute;
   top: 55%;
   left: 55%;
   z-index: 9;
 }
 
 #cir02{
     position: absolute;
     top: 8%;
     left: 240%;
     z-index: -9;
     width: 140px;
     overflow: hidden;
 }
 
 #sec01_btn{
     position: absolute;
     bottom: 17%;
     left: 130px;
 }
 
 
  /* header */
  header{
     height: 100px;
     background-color: rgb(7, 7, 7);
     text-align: center;
  }
 
  #in_header{
     width: 100%;
     height: 100%;
     margin: 0 auto;

  }
 
  #in_header::after{
    position: absolute;
    top: 75px;
    left: 0px;
    z-index: 99;
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgb(75, 0, 0);
  }
 
  .logo{
     width: 250px;
     float: left;
     text-align: left;
     font-size: 12px;
     margin: 20px 10px;
     cursor: pointer;
  } 
 
  .img{
     width: 40px;
     float: left;
     margin-right: 10px;
     margin-top: 5px;
  }
 
  .img img{
    width: 100%;
  }
 
  #menu_wrap{
/*      width: 590px;
     height: 100%;
     margin: 0 180px ;
     float: left; */
     display: none;
  }
 
/*   #menu_wrap li{
     width: 20%;
     height: 20px;
     float: left;
     margin: 27px 0 ;
     border-right: 1px solid rgba(255, 255, 255, 0.2);
     padding-right: 2px;
     box-sizing: border-box;
  } */
 
 
  #menu_wrap a, .logo a, #side a{
     color: #fff;
     transition: 0.1s;
  }
 
  #side{
     width: 100px;
     height: 40px;
     float: right;
     margin-top: 20px;
  }
  
 
  #side li{
    width: 40px;
    float: left;
    line-height: 40px;
  }
 
  #side img{
    width: 50%;
    margin-top: 10px;
  }
 
 
  /* hover */
  #menu_wrap a:hover, #side a:hover{
   color: #F93A23;
  }
 
 
 
 
 
 
 
    /* sec01 */
    #sec01{
      width: 100%;
      height: 600px ;
      overflow: hidden;
      float: left;
      background: url(../img/sec01_main01.jpg) no-repeat top/cover;
      overflow: hidden;
   }
 
/* 시민평론단 글자 여백 주기 위부분
   이벤트 부분 마무리되는 느낌 주기
   공식상영작 돌리는거 수정 제이쿼리
    동그란 버튼 높이 가운데로 주기
*/



 #sec01>img{
   display: none;
 }

 #sec01_text span{
    font-size: 15px;
 }
 
 
  #sec01_text{
     position: absolute;
     top: 20%;
     left: 10px;
     z-index: 999;
  }
 
  #sec01_text a{
     color: #fff;
     font-size: 15px;
  }

  #sec01_text h6{
    font-size: 15px;
    color: #fff;
  }
 
  #sec01_text h1{
    margin-bottom: 10px;
    font-size: 30px;
    color: #fff;
  }
 
  #sec01 h4{
   position: relative;
   top: 440px;
   left: 640px;
   text-align: right;
   color: rgba(255, 255, 255, 0.5);
  }
 
  #battom_menu{
    width: 100%;
    height: 70px;
    float: left;
    position: absolute;
    margin: 680px auto 0 auto ;
    z-index: 9;
  }
 
  #battom_menu li{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
  }

  #battom_menu li:nth-child(2),#battom_menu li:nth-child(4){
    display: none;
  }
 
  #background_con01{
    width: 90%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top:  690px;
    right: -5%;
    z-index: 1;
  }

/*   #battom_menu li:before{
    width: 100%;
    height: 2px;
    background-color: rgb(182, 0, 0);
    display: block;
    content: '';
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  */
 
  #battom_menu img{
    width: 100%;
    height: 100%;
  }
 
  #battom_menu h4{
     height: 30px;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-top: -15px;
     text-align: center;
     font: 600 20px/30px '';
     color: #4e4f52;
  }

  #battom_menu li:nth-child(1) h4{
    margin-left: -40px;
  }

  #battom_menu li:nth-child(3) h4{
    margin-left: -53.5px;
  }


/*  
  #battom_menu h4:after{
     width: 130px;
     height: 2px;
     background-color:#e4e4e4;
     display: block;
     content: '';
     z-index: 99;
     margin-left: 35px;
  } */
 
 
 
  /* hover */
  #battom_menu li:hover h4{
     color: #eb331f;
  }
 
  #sec01_text>p:hover a{
     color: #cfcfcf;
  }
 
 
 
 
 
  /* sec02 */
  #sec02{
     width: 100%;
     margin: 250px 0;
     float: left;
     position: relative;
     top: 0;
     left: 0;
  }
 
  #sec02_img_box{
    width: 100%;
    height: 600px;
  }
 
  .con02_img{
    width: 430px;
    height: 100%;
    float: left;
    margin-right: 30px;
  }
 
  #img_wrap{
    width: 2840px;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
  }
 
  #img_wrap li{
     float: left;
  }
  
  #sec02_ck{
     width: 100%;
     height: 700px;
     position: relative;
     overflow: hidden;
/*      border: 1px solid red; */
  }
 
 
 
  .con02_img:nth-child(1){background: url(../img/sec02_img01.jpg) no-repeat center/cover;} 
 
  .con02_img:nth-child(2){
    background: url(../img/sec02_img03.jpg) no-repeat center/cover;
  }
 
  .con02_img:nth-child(3){background: url(../img/sec02_img02.jpg) no-repeat center/cover;}
  .con02_img:nth-child(4){background: url(../img/sec02_img04) no-repeat center/cover;}
  .con02_img:nth-child(5){background: url(../img/sec02_img05.jfif) no-repeat center/cover;}
  .con02_img:nth-child(6){background: url(../img/sec02_img06.jpeg) no-repeat center/cover;}
 
  #sec02 #left img, #sec02 #right img{
    width: 30px;
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
  

  
  #sec02 span img {
    position: absolute;
    right: 0;
    z-index: 999;
  }

/*  
  #sec02 #right img{
    right: 0;
    float: right;
  } */
 
  .hover_img{
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   float: left;
   overflow: hidden;
   transition: 0.2s;
  }
 
  
  .sec02_top_btn, .sec02_battom_btn{
    width: 150px;
    height: 60px;
    background-color: #F93A23;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    font: 800 20px/60px '';
   }
 
   .sec02_top_btn{
     margin-top: 40%;
     margin-bottom: 30px;
     transition: 0.1s;
    }
 
 
  .sec02_top_btn a{
   color: #fff;
  }
 
  .sec02_battom_btn{
   background-color: #fff;
   transition: 0.1s;
  }
 
  #sec02:after{
     width: 100%;
     height: 2px;
     background-color: #c53120;
     display: block;
     content: '';
     position: relative;
     z-index: -1;
     top: -50px;
     left: 0;
  }
 
  #sec02_line{
     width: 2px;
     height: 360px;
     position: absolute;
     top: -260px;
     left: 87%;
     background-color: #c53120;
  }
 
 
 
 
  /* hover */
 /*  .con02_img:hover .hover_img{
   width: 100%;
  }
 
  .sec02_top_btn:hover{
   background-color:  #8e2216;
  }
  
 
  .sec02_battom_btn:hover a,.sec02_top_btn:hover a{
   color: rgb(63, 63, 63);
  }
  
 .sec02_battom_btn:hover{
   background-color: #aaa;
 }
  */
 
 
 
 
  /* sec03 */
  
  #sec03{
    width: 100%;
    height: 200px;
    background: url(../img/sec03.png)no-repeat center/cover;
 
  }
 
 
 
 
  #sec03_text_box{
   position: absolute;
   top: 35px;
   left: 30px;
  }
 
  #sec03_text_box h1{
   font-size: 25px;
  }
 
  #sec03_text_box p{
   font-size: 12px;
   margin: 10px 0 15px 0;
  }

  #sec03_btn{
    background-color:#F93A23;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    display: block;
    text-align: center;
    font: 800 15px/ 40px '';
    border-radius: 20px;
    transition: 0.1s;
  }

 #sec03 a{
   color: #fff;
 }
 
 
 
 /* hover */
/*  #sec03 span:hover{
   background-color:#c53120;
   font-size: 15px;
   box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
 } */
 
 
 
 
  /* sec04 */
  #sec04{
    width: 100%;
    margin: 250px auto;
    position: relative;
  }

  
 #sec04:after{
  position: absolute;
  bottom: -865px;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 1142px;
  z-index: -9;
  background-color: rgb(255, 255, 255);
}

 
  #con04_out_box01{
    width: 100%;
    background-color:#292A30;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid #c53120;
    padding-top: 1px;
    padding-bottom: 40px;
  }
 
  #con04_out_box01 iframe{
    height: 300px;
  }
 
 
  .con04_in_box,  #con04_out_box01{
     border-bottom: 2px solid #c53120;
     box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.3);
  }
 
  .con02_img {
    box-shadow: 15px 15px 0px rgba(0, 0, 0, 1);
  }
 
 
  .img05_box{
    box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.1);
  }
 
 
  #con04_out_box02{
    width: 100%;
    background-color: lightcoral;
  }
 
  #con04_out_box02 .text_box{
    margin-left: 0;
    font-size: 25px;
  }
 
  .con04_in_box{
    width: 100%;
    background-color:#EDEDED;
    padding: 0px 30px 40px 30px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    float: left;
  }
 
  .con04_in_box:nth-child(1){
    background-color:#292A30;
    margin: 25px auto;
  }

 
  #con04_list{
    font-size: 15px;
  }
 
  #con04_list li{
    margin-bottom: 12px ;
  }
 
  #con04_list li:nth-child(4){
     margin-bottom: 0;
  }
 
  #sec04 a{
   width: 50%;
    color: #fff;
    transition: 0.2s;
  }
 
  .con04_in_box:nth-child(2) .text_box{
    color: #000;
  }
 
 
  #sec04 p{
/*     text-align: right;
    letter-spacing: -1px;
    line-height: 65px;
    color: rgb(0, 0, 0);
    transition: 0.2s; */
    display: none;
  }
 
  #con04_out_box01 .con04_btn img{
     margin-right: 35px;
  }
 
 
 
 #con04_img_box{
    width: 100%;
    height: 150px;
    position: relative;
 }
 
 #con04_img_box .img04_box{
    width: 48%;
    height: 100%;
    float: left;
    background-color: #fff;
    overflow: hidden;
    border: 2px solid rgb(209, 209, 209);
    box-sizing: border-box;
    margin: 0 auto;
 }

 #con04_img_box .img04_box:nth-child(1){
    margin-right: 12px;
 }

 
 .img04_box img{
    height: 100%;
    margin-left: 20%;
    transition: 0.3s
 }
 
 .con04_btn img{
   width: 15px;
   float: right;
   margin-top: 25px;
   margin-left: 5px;
 }
 
 .con04_btn span{
  width: 80%;
   color: #191A20;
 }

 #con04_out_box02 .text_box{
    font-size: 22px;
 }
 
 
 
 /* hover */
/*  .img04_box:hover img{
   transform: scale(1.2,1.2);
 }
 
 #con04_list li:hover a, #sec04 p:hover a{
     color: #777777;
 } */
 
 
 

   /* sec05 */
   #sec05{
    width: 100%;
    height: 700px; 
    background-color: #EDEDED;
    position: relative;
    z-index: 0;
  }
 
 #sec05 .text_box, #sec02 .text_box{
    margin: 20px 20px 15px 0px;
 }
 
 #sec05 .text_box{
    color: #000;
 }
 
 #sec05:after{
/*    width: 2px;
   height: 280px;
   position: absolute;
   top: 24px;
   left: 49%;
   background-color: rgba(0, 0, 0, 0.1);
   z-index: 99;
   display: block;
   content: ''; */
   display: none;
 }
 
 
 
  .con05_out_box{
    width: 100%;
    height: 100%;
    float: left;
  }
 
  .con05_out_box:nth-child(1){
    margin-right: 42px;
  }
 
  .con05_in_box{
    width: 100%;
    height: 230px;
  }
 
  .img05_box{
    width: 100%;
    height: 200px;
    background-color: #fff;
    float: left;
    border: 2px solid rgb(214, 214, 214);
    box-sizing: border-box;
    transition: 0.2s;
    overflow: hidden;
    position: relative;
    z-index: 10;
  }
 
  .img05_box:nth-child(1){
    margin-right: 2.631%;
  }
 
  .img05_box img, .img05_box:nth-child(1){
     display: none;
  }
 
  .one img{
     width: 100%;
  }
 
  .text05_box{
    margin: 34px 29px;
    transition: 0.2s;
    overflow: hidden;
  }
  .text05_box h2{
    margin-bottom: 10px;
  }
  
 
 
 
  /* hover */
/*   .img05_box:hover .text05_box{
     color: #ce3423;
  } */
 
  .img05_box{
     border-bottom: 2px solid #ce3423;
  }
 
  .img05_box img:hover{
     transform: scale(1.1, 1.1);
  }
 
 /*  .img05_box:nth-child(1):hover{
 
  }
 
  */
  
 
 
 
 
   /* footer */
   footer{
    height: 150px;
    background-color:#191A20;
  }

  .foot_container{
    background-color: lightgoldenrodyellow;
  }
 
  #left_footer{
    float: left;
    position: relative;
    width: 100%;
    height: 0px;
  }
 
 #foot_list{
/*     float: left;
    width: 100%;
    margin: 20px 0; */
    display: none;
 }
/*  
 #foot_list li{
    float: left;
    font-size: 10px;
    margin-right: 10px;
    text-align: center;
 }
  */
 #foot_list a{
    color: rgb(103, 103, 103);
 }
 
 #left_footer p{
    margin-top: 100px;
    color: rgb(86, 86, 86);
    font-size: 10px;
    text-align: center;
 }
 
 #foot_list li:hover a{
   color: rgb(164, 164, 164);
 }
 
 
 
 
 
  #right_footer{
    float: right;
  }
 
  #sns_btn{
    width: 100%;
    height: 50px;
  }
 
  #sns_btn li{
    float: left;
    margin-top:20px;
    margin-left: 20px;
  }
 

 
  #right_footer a{
    color: rgb(111, 111, 111);
  }
 
  #right_footer .logo{
    position: absolute;
    top: 0;
    left: 20px;
  }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
     
 }