@media all and ( min-width : 760px ) {

 /* 공통영역 */

 body{
    background-color: #191A20;
 }
 
 #wrap{
    width: 100%;
 }
 

 header,section,footer{
    width: 100%;
    float: left;
    position: relative;
 }

 .container{
    width: 1170px ;
    height: 100%;
    margin: 0 auto;
 }

 .text_box{
   margin: 20px 0 20px 25px;
   font-size: 30px;
   color: #fff;
   font-weight: 900;
 }


 #cir04{
  position: absolute;
  top: -20px;
  right: 0;
}


.circle_img{
  top: -5%;
  left: 15%;
  z-index: -1;
}

.sec05_cir{
  position: absolute;
  top: 70%;
  left: 72%;
  z-index: 9;
}

#cir02{
    position: absolute;
    top: 7%;
    left: 60%;
    z-index: -9;
}

#sec01_btn{
    position: absolute;
    bottom: 16%;
    left: 130px;
}


 /* header */
 header{
    height: 100px;
    background-color: rgb(7, 7, 7);
    text-align: center;
 }

 #in_header{
    width: 1310px;
    height: 100%;
    margin: 0 auto;
 }

 #in_header::after{
   position: absolute;
   top: 75px;
   left: 300px;
   z-index: 99;
   content: '';
   display: block;
   width: 1310px;
   height: 2px;
   background-color: rgb(75, 0, 0);
 }

 .logo{
    width: 250px;
    float: left;
    text-align: left;
    font-size: 12px;
    margin: 20px 0;
    cursor: pointer;
 } 

 .img{
    width: 40px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
 }

 .img img{
   width: 100%;
 }

 #menu_wrap{
    width: 590px;
    height: 100%;
    margin: 0 180px ;
    float: left;
 }

 #menu_wrap li{
    width: 20%;
    height: 20px;
    float: left;
    margin: 27px 0 ;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding-right: 2px;
    box-sizing: border-box;
 }

 #menu_wrap li:last-child, #foot_list li:last-child{
    border-right: 0;
 }


 #menu_wrap a, .logo a, #side a{
    color: #fff;
    transition: 0.1s;
 }

 #side{
    width: 100px;
    height: 40px;
    float: right;
    margin-top: 20px;
 }
 

 #side li{
   width: 40px;
   float: left;
   line-height: 40px;
 }

 #side img{
   width: 50%;
   margin-top: 10px;
 }


 /* hover */
 #menu_wrap a:hover, #side a:hover{
  color: #F93A23;
 }







 /* sec01 */
 #sec01{
  width: 100%;
  height: 790px ;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

#sec01>img{
  width: 100%;
}


 #sec01_text{
    position: absolute;
    top: 20%;
    left: 19.531%;
    z-index: 999;
 }

 #sec01_text a{
    color: #fff;
 }

 #sec01_text h1{
   margin-bottom: 10px;
   font-size: 40px;
   color: #fff;
 }

 #sec01_text h6{
  font-size: 15px;
  color: #fff;
}


 #sec01 h4{
  position: relative;
  top: 430px;
  left: 815px;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
 }

 #battom_menu{
   width: 1170px;
   height: 100px;
   float: left;
   position: absolute;
   top: 850px;
   left: 50%;
   margin-left: -585px;
   z-index: 9;
 }

 #battom_menu li{
   width: 25%;
   height: 100px;
   float: left;
   position: relative;
 }

 #background_con01{
  width: 1100px;
  height: 67px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 863px;
  left: 52%;
  margin-left: -585px;
  z-index: 1;
}

/* ============================================================================================================== */
 #battom_menu li:before{
   width: 268px;
   height: 2px;
   background-color: rgb(182, 0, 0);
   display: block;
   content: '';
   margin-left: 12px;
   z-index: 999;
   position: absolute;
   bottom: 5px;
   left: 0;
   
 }


 #battom_menu img{
   width: 100%;

 }

 #battom_menu h4{
    width: 200px;
    height: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -110px;
    margin-left: -95px;
    text-align: center;
    font: 500 20px/30px '';
    color: #4e4f52;
 }

 #battom_menu h4:after{
    width: 130px;
    height: 2px;
    background-color:#e4e4e4;
    display: block;
    content: '';
    z-index: 99;
    margin-left: 35px;
 }



 /* hover */
 #battom_menu li:hover h4{
    color: #eb331f;
 }

 #sec01_text>p:hover a{
    color: #cfcfcf;
 }





 /* sec02 */
 #sec02{
    width: 100%;
    margin: 280px 0;
    float: left;
    position: relative;
    top: 0;
    left: 0;
 }

 #sec02_img_box{
   width: 100%;
   height: 540px;
 }

 .con02_img{
   width: 370px;
   height: 100%;
   margin-right: 30px;
 }

 #img_wrap{
    width: 2600px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
 }

 #img_wrap li{
    float: left;
 }
 
 #sec02_ck{
    width: 1170px;
    height: 555px;
    position: relative;
    overflow: hidden;
 }



 .con02_img:nth-child(1){background: url(../img/sec02_img01.jpg) no-repeat center/cover;} 

 .con02_img:nth-child(2){
   background: url(../img/sec02_img03.jpg) no-repeat center/cover;
 }

 .con02_img:nth-child(3){background: url(../img/sec02_img02.jpg) no-repeat center/cover;}
 .con02_img:nth-child(4){background: url(../img/sec02_img04) no-repeat center/cover;}
 .con02_img:nth-child(5){background: url(../img/sec02_img05.jfif) no-repeat center/cover;}
 .con02_img:nth-child(6){background: url(../img/sec02_img06.jpeg) no-repeat center/cover;}

 #sec02 img{
   position: absolute;
   top: 50%;
   left: 300px;
   cursor: pointer;
 }

 #sec02 span{
   position: absolute;
   top: 50%;
   left: 1270px;
 }

 .hover_img{
  width: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  float: left;
  overflow: hidden;
  transition: 0.2s;
 }

 .sec02_top_btn, .sec02_battom_btn{
  width: 97px;
  height: 30px;
  background-color: #F93A23;
  margin-left: 25px;
  text-align: center;
  border-radius: 10px;
  font: 800 12px/30px '';
 }

 .sec02_top_btn{
  margin-top: 450px;
  margin-bottom: 10px;
  transition: 0.1s;
 }

 .sec02_top_btn a{
  color: #fff;
 }

 .sec02_battom_btn{
  background-color: #fff;
  transition: 0.1s;
 }

 #sec02:after{
    width: 100%;
    height: 2px;
    background-color: #c53120;
    display: block;
    content: '';
    position: relative;
    z-index: -1;
    top: -100px;
    left: 0;
 }

 #sec02_line{
    width: 2px;
    height: 360px;
    position: absolute;
    top: -250px;
    left: 77%;
    background-color: #c53120;
 }




 /* hover */
 .con02_img:hover .hover_img{
  width: 100%;
 }

 .sec02_top_btn:hover{
  background-color:  #8e2216;
 }
 

 .sec02_battom_btn:hover a,.sec02_top_btn:hover a{
  color: rgb(63, 63, 63);
 }
 
.sec02_battom_btn:hover{
  background-color: #aaa;
}





 /* sec03 */
 
 #sec03{
   width: 100%;
   height: 230px;
   background: url(../img/sec03.png)no-repeat center/cover;

 }




 #sec03_text_box{
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -168px;
 }

 #sec03_text_box h1{
  font-size: 30px;
 }

 #sec03_text_box p{
  font-size: 15px;
  margin: 10px 0;
 }
 
#sec03 span{
  background-color:#F93A23;
  height: 40px;
  width: 50%;
  display: block;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  transition: 0.1s;
}

#sec03 a{
  color: #fff;
}

#sec03_half{
  width: 50%;
  height: 100%;
  position: relative;
}


/* hover */
#sec03 span:hover{
  background-color:#c53120;
  font-size: 15px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

#sec03_btn {
  background-color: #F93A23;
  height: 40px;
  width: 150px;
  margin-top: 10px;
  display: block;
  text-align: center;
  font: 800 15px/ 40px '';
  border-radius: 20px;
  transition: 0.1s;
}



 /* sec04 */
 #sec04{
   width: 100%;
   margin: 250px auto;
   position: relative;
 }

 #sec04:after{
    position: absolute;
    bottom: -865px;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 1232px;
    z-index: -9;
    background-color: rgb(255, 255, 255);
 }

 #con04_out_box01{
   width: 770px;
   background-color:#292A30;
   float: left;
   border-radius: 10px 10px 0 0;
   border-bottom: 2px solid #c53120;
 }


 .con04_in_box,  #con04_out_box01{
    border-bottom: 2px solid #c53120;
    box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.3);
 }

 .con02_img {
   box-shadow: 15px 15px 0px rgba(0, 0, 0, 1);
 }


 .img05_box{
   box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.1);
 }

 #con04_out_box02{
   width: 370px;
   float: right;
 }

 #con04_out_box02 .text_box{
   margin-left: 0;
 }

 .con04_in_box{
   width: 295px;
   background-color:#EDEDED;
   padding: 5px 38px 0px 38px;
   border-radius: 10px 10px 0 0;
 }

 .con04_in_box:nth-child(1){
   background-color:#292A30;
   margin-bottom: 38px;
 }

 .con04_in_box:nth-child(2){
    margin-top: 45px;
 }


 #con04_list{
   width: 295px;
   font-size: 12px;
 }

 #con04_list li{
   margin-bottom: 12px ;
 }

 #con04_list li:nth-child(4){
    margin-bottom: 0;
 }

 #sec04 a{
  width: 50%;
   color: #fff;
   transition: 0.2s;
 }

 .con04_in_box:nth-child(2) .text_box{
   color: #000;
 }


 #sec04 p{
   text-align: right;
   letter-spacing: -1px;
   line-height: 65px;
   color: rgb(0, 0, 0);
   transition: 0.2s;
 }

 #con04_out_box01 .con04_btn img{
    margin-right: 35px;
    cursor: pointer;
 }
 



#con04_img_box{
   width: 100%;
   height: 215px;
   position: relative;
}

#con04_img_box .img04_box{
   width: 137.5px;
   height: 100%;
   float: left;
   background-color: #fff;
   overflow: hidden;
   border: 2px solid rgb(209, 209, 209);
   box-sizing: border-box;
}

#con04_img_box .img04_box:nth-child(2){
   margin-left: 20px;
}

.img04_box img{
   width: 100%;
   transition: 0.3s
}

.con04_btn img{
  width: 15px;
  float: right;
  margin-top: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.con04_btn span{
  color: #191A20;
  transition: 0.2s;
}

#sec04 span{
  font-weight: 300;
}

#sec04 #con04_out_box02{
  color: #DBDBDB;
}


/* hover */
.img04_box:hover img{
  transform: scale(1.2,1.2);
}

#con04_list li:hover a, #sec04 p:hover a{
    color: #777777;
}

#con04_img_box +.con04_btn span:hover{
    color: #7b7b7b;
    font-weight: 800;
}












 /* sec05 */
 #sec05{
   width: 100%;
   height: 365px;
   background-color: #EDEDED;
   margin-bottom: 250px;
   position: relative;
   z-index: 0;
 }

#sec05 .text_box, #sec02 .text_box{
   margin-left: 0px;
}

#sec05 .text_box{
   color: #000;
}

#sec05:after{
  width: 2px;
  height: 280px;
  position: absolute;
  top: 40px;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 99;
  display: block;
  content: '';
}



 .con05_out_box{
   width: 560px;
   height: 100%;
   float: left;
   margin: 10px 0;
 }

 .con05_out_box:nth-child(1){
   margin-right: 50px;
 }

 .con05_in_box{
   width: 100%;
   height: 230px;
 }

 .img05_box{
   width: 270px;
   height: 100%;
   background-color: #fff;
   float: left;
   border: 2px solid rgb(214, 214, 214);
   box-sizing: border-box;
   transition: 0.2s;
   overflow: hidden;
   position: relative;
   z-index: 10;
 }

 .img05_box:nth-child(1){
   margin-right: 20px;
 }

 .con05_out_box:nth-child(1) .img05_box:nth-child(1){
   background: url(../img/sec05_img01.jpg) no-repeat center/cover;
 }

 .img05_box img{
    height: 100%;
    transition: 0.2s;
 }

 .one img{
    width: 100%;
 }

 .text05_box{
   margin: 34px 29px;
   transition: 0.2s;
 }
 .text05_box h2{
   margin-bottom: 30px;
 }
 



 /* hover */
 .img05_box:hover .text05_box{
    color: #ce3423;
 }

 .img05_box:hover{
    border-bottom: 2px solid #ce3423;
 }

 .img05_box img:hover{
    transform: scale(1.1, 1.1);
 }

/*  .img05_box:nth-child(1):hover{

 }

 */
 




 /* footer */
 footer{
   height: 200px;
   background-color:#191A20;
   position: relative;
 }

 #left_footer{
   float: left;
   height: 100%;
 }

#foot_list{
   float: left;
   width: 100%;
   margin: 20px 0;
}

#foot_list li{
   float: left;
   font-size: 15px;
   margin-right: 10px;
   text-align: center;
   border-right: 1px solid rgb(58, 58, 58);
   padding-right: 10px;
}

#foot_list a{
   color: rgb(103, 103, 103);
}

#left_footer p{
   width: 85%;
   font-size: 13px;
   margin-top: 115px;
   color: rgb(86, 86, 86);
}

#foot_list li:hover a{
  color: rgb(164, 164, 164);
}





 #right_footer{
   height: 100%;
   float: right;
 }

 #sns_btn{
   width: 100%;
   float: right;
 }

 #sns_btn li{
   height: 100%;
   float: right;
   margin-top:20px;
 }

 #sns_btn li:nth-child(2){
    margin: 20px 20px 0 20px;
 }


 #right_footer .logo{
   margin-top: 80px;
   margin-right: -170px;
 }

 #right_footer a{
   color: rgb(111, 111, 111);
 }



 footer:after{
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -585px;
    width: 1170px;
    height: 1px;
    background-color: #343439;
    display: block;
    content: '';
 }












    
}