@media all and ( max-width : 759px ) {

    /* 공통영역 */
    #wrap{
       width: 100%;
       height: 2895px;
       background-color: #191A20;
       position: absolute;
       z-index: -999;
    }
    
   
    header,section,footer{
       width: 100%;
       float: left;
       position: relative;
    }
   
    .container{
       width: 85%;
       height: 100%;
       margin: 0 auto;
    }
   
    .text_box{
      margin: 20px 0 20px 25px;
      height: 35px;
      font-size: 25px;
      color: #fff;
      font-weight: 900;
    }
  
    
  #sec04 span{
    font-weight: 300;
  }
  
   
   
    .sec04_cir{
     position: absolute;
     top: 100px;
     left: 0;
     z-index: -1;
   }
   
    .sec02_cir img{
     position: relative;
     top: 0;
     right: 110;
     z-index: -1;
   }
  
   #cir02{
      position: relative;
      margin-top: -300px;
      left: 0;
   }
   
   
   .circle_img{
     top: -24px;
     left: 0;
     z-index: -1;
   }
   
   .sec05_cir{
     position: absolute;
     top: 67%;
     left: 65%;
     z-index: 9;
   }
  
   .con04_in_box,  #con04_out_box01{
    border-bottom: 2px solid #c53120;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
  }
  
  .con02_img {
   box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
  }
  
  
  .img05_box{
   box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
  }
   
   
    /* header */
    header{
       height: 100px;
       background-color: rgb(4, 4, 4);
       text-align: center;
    }
   
    #in_header{
       width: 100%;
       height: 100%;
       margin: 0 auto;
    }
   
    #in_header::after{
      position: absolute;
      top: 85px;
      left: 0;
      z-index: 99;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgb(75, 0, 0);
    }
   
    .logo{
       float: left;
       text-align: left;
       font-size: 7px;
       margin: 20px 0;
    } 
   
    .img{
      width: 20%;
      float: left;
      margin: 0px 10px ;
    }
   
    .img img{
      width: 100%;
    }
   
    #menu_wrap{
      display: none;
    }
   
  
   
   .logo a, #side a{
       color: #fff;
       transition: 0.1s;
    }
   
    #side{
       width: 100px;
       height: 40px;
       float: right;
       margin-top: 20px;
    }
    
   
    #side li{
      width: 40px;
      float: left;
      line-height: 40px;
    }
   
    #side img{
      width: 50%;
      margin-top: 10px;
    }
   
    /* hover */
    #menu_wrap li:hover a, #side li:nth-child(2) a:hover{
     color: #F93A23;
    }
   
    
   
   
    /* sec01 */
    #sec01{
       width: 100%;
       height: 600px ;
       background-color: lightgreen;
       overflow: hidden;
       float: left;
       background: url(../img/sec01_main01.jpg) no-repeat top/cover;
    }
   
    #sec01_text{
       position: absolute;
       top: 20%;
       left: 2%;
       z-index: 999;
       color: #fff;
    }
   
    #sec01_text h1{
      margin-bottom: 10px;
      font-size: 30px;
    }
   
    #sec01 h4{
     position: relative;
     top: 440px;
     left: 760px;
     text-align: right;
     color: rgba(255, 255, 255, 0.5);
    }
   
    #battom_menu{
      width: 100%;
      height: 100px;
      position: absolute;
      z-index: 9;
      margin: 672px auto 0 auto ;
    }
    
   
    #battom_menu li{
      width: 25%;
      height: 100px;
      float: left;
      position: relative;
    }
   
    #background_con01{
     width: 90%;
     height: 40px;
     background-color: rgb(255, 255, 255);
     position: relative;
     top:  680px;
     right: -5%;
     z-index: 1;
   }
   
  /*   #battom_menu li:after{
      width: 268px;
      height: 2px;
      background-color: rgb(182, 0, 0);
      display: block;
      content: '';
      margin-left: 12px;
      z-index: 999;
      bottom: 10px;
    } */
   
    /* 갑자기 안보임 */
   
   
    #battom_menu img{
      width: 100%;
    }
   
    #battom_menu h4{
       width: 200px;
       height: 30px;
       position: relative;
       top: 50%;
       left: 50%;
       margin-top: -95px;
       margin-left: -95px;
       text-align: center;
       font: 500 15px/30px '';
       color: #4e4f52;
    }
   
    #battom_menu h4:after{
       width: 90px;
       height: 1px;
       background-color:#e4e4e4;
       display: block;
       content: '';
       z-index: 99;
       margin: -3px auto;
    }
   
   
    /* hover */
    #battom_menu li:hover h4{
       color: #eb331f;
    }
   
   
   
   
   
    /* sec02 */
    #sec02{
       width: 100%;
       margin: 300px 0;
       position: relative;
       top: 0;
       left: 0;
    }
   
   
   
   
   
    #sec02_img_box{
      width: 100%;
      height: 300px;
    }
   
    .con02_img{
      width: 30%;
      height: 100%;
      float: left;
    }
   
    .con02_img:nth-child(1){background: url(../img/sec02_img01.jpg) no-repeat center/cover;} 
   
    .con02_img:nth-child(2){
      margin: 0 5%;
      background: url(../img/sec02_img03.jpg) no-repeat center/cover;
    }
   
    .con02_img:nth-child(3){background: url(../img/sec02_img02.jpg) no-repeat center/cover;}
   
    #sec02 img{
      position: absolute;
      top: 60%;
    }
  
  
    #sec02 span img {
      position: absolute;
      right: 0;
      z-index: 999;
    }
   
    .hover_img{
     width: 0px;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     overflow: hidden;
     transition: 0.2s;
    }
   
    .sec02_top_btn, .sec02_battom_btn{
     width: 120px;
     height: 40px;
     background-color: #F93A23;
     margin: 0 auto;
     text-align: center;
     border-radius: 10px;
     font: 800 15px/40px '';
    }
  
    .sec02_top_btn{
      margin-top: 50%;
      margin-bottom: 15px;
      transition: 0.1s;
     }
  
     .sec02_top_btn a{
      color: #fff;
     }
    
     .sec02_battom_btn{
      background-color: #fff;
      transition: 0.1s;
     }
   
    #sec02:after{
       width: 100%;
       height: 2px;
       background-color: #c53120;
       display: block;
       content: '';
       position: relative;
       z-index: -1;
       bottom: -200px;
       left: 0;
    }
   
   
   
   
   
    /* hover */
    .con02_img:hover .hover_img{
     width: 100%;
    }
   
    .sec02_top_btn:hover{
     background-color:  #8e2216;
    }
    
   
    .sec02_battom_btn:hover a,.sec02_top_btn:hover a{
     color: rgb(63, 63, 63);
    }
    
   .sec02_battom_btn:hover{
     background-color: #aaa;
   }
   
   
   
   
   
    /* sec03 */
    
    #sec03{
      width: 100%;
      height: 200px;
      background: url(../img/sec03.png)no-repeat center/cover;
    }
   
    #sec03_text_box{
     position: absolute;
     top: 40px;
     left: 10px;
    }
   
    #sec03_text_box h1{
     font-size: 30px;
    }
   
    #sec03_text_box p{
     font-size: 15px;
    }
    
   #sec03 span{
     background-color:#F93A23;
     height: 40px;
     width: 45%;
     margin-top: 10px;
     display: block;
     text-align: center;
     line-height: 40px;
     border-radius: 20px;
     transition: 0.1s;
   }
   
   #sec03 a{
     color: #fff;
   }
   
   /* hover */
   #sec03 span:hover{
     background-color:#c53120;
     font-size: 15px;
     box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
   }
   
   
   
   
   
    /* sec04 */
    #sec04{
      width: 100%;
      margin: 200px auto;
    }
   
    #con04_out_box01{
      width: 100%;
      background-color:#292A30;
      border-radius: 10px 10px 0 0;
      border-bottom: 2px solid #c53120;
      padding-top: 1px;
    }
   
    #con04_out_box01 iframe{
      height: 400px;
    }
   
   
   
    #con04_out_box02{
      width: 370px;
    }
   
    #con04_out_box02 .text_box{
      margin-left: 0;
      font-size: 25px;
    }
   
    .con04_in_box{
      width: 80%;
      background-color:#EDEDED;
      padding: 0px 20px 0px 20px;
      border-radius: 10px 10px 0 0;
      float: left;
    }
   
    .con04_in_box:nth-child(1){
      background-color:#292A30;
      margin: 20px auto;
    }
  
   
    #con04_list{
      font-size: 12px;
    }
   
    #con04_list li{
      margin-bottom: 12px ;
    }
   
    #con04_list li:nth-child(4){
       margin-bottom: 0;
    }
   
    #sec04 a{
     width: 50%;
      color: #fff;
      transition: 0.2s;
    }
   
    .con04_in_box:nth-child(2) .text_box{
      color: #000;
    }
   
   
    #sec04 p{
      text-align: right;
      letter-spacing: -1px;
      line-height: 65px;
      color: rgb(0, 0, 0);
      transition: 0.2s;
    }
   
    #con04_out_box01 .con04_btn img{
       margin-right: 35px;
    }
   
   
   
   #con04_img_box{
      width: 100%;
      height: 150px;
      position: relative;
   }
   
   #con04_img_box .img04_box{
      width: 48%;
      height: 100%;
      float: left;
      background-color: #fff;
      overflow: hidden;
      border: 2px solid rgb(209, 209, 209);
      box-sizing: border-box;
      margin: 0 auto;
   }
  
   #con04_img_box .img04_box:nth-child(1){
      margin-right: 10px;
   }
  
   
   .img04_box img{
      height: 100%;
      margin-left: 20%;
      transition: 0.3s
   }
   
   .con04_btn img{
     width: 15px;
     float: right;
     margin-top: 25px;
     margin-left: 5px;
   }
   
   .con04_btn span{
     color: #191A20;
   }
  
   #con04_out_box02 .text_box{
      font-size: 22px;
   }
   
   
   
   /* hover */
   .img04_box:hover img{
     transform: scale(1.2,1.2);
   }
   
   #con04_list li:hover a, #sec04 p:hover a{
       color: #777777;
   }
   
   
   
   
   
   
   
   
   
   
   
   
    /* sec05 */
    #sec05{
      width: 100%;
      height: 365px;
      background-color: #EDEDED;
      margin-bottom: 250px;
      position: relative;
      z-index: 0;
    }
   
   #sec05 .text_box, #sec02 .text_box{
      margin-left: 0px;
   }
   
   #sec05 .text_box{
      color: #000;
   }
   
   #sec05:after{
     width: 2px;
     height: 280px;
     position: absolute;
     top: 24px;
     left: 50%;
     background-color: rgba(0, 0, 0, 0.1);
     z-index: 99;
     display: block;
     content: '';
   }
   
   
   
    .con05_out_box{
      height: 100%;
      float: left;
    }
   
    .con05_out_box:nth-child(1){
      margin-right: 42px;
    }
   
    .con05_in_box{
      width: 100%;
      height: 230px;
    }
   
    .img05_box{
      width: 270px;
      height: 100%;
      background-color: #fff;
      float: left;
      border: 2px solid rgb(214, 214, 214);
      box-sizing: border-box;
      transition: 0.2s;
      overflow: hidden;
      position: relative;
      z-index: 10;
    }
   
    .img05_box:nth-child(1){
      margin-right: 20px;
    }
   
    .img05_box img, .img05_box:nth-child(1){
       display: none;
    }
   
    .one img{
       width: 100%;
    }
   
    .text05_box{
      margin: 34px 29px;
      transition: 0.2s;
    }
    .text05_box h2{
      margin-bottom: 30px;
    }
    
   
   
   
    /* hover */
    .img05_box:hover .text05_box{
       color: #ce3423;
    }
   
    .img05_box:hover{
       border-bottom: 2px solid #ce3423;
    }
   
    .img05_box img:hover{
       transform: scale(1.1, 1.1);
    }
   
   /*  .img05_box:nth-child(1):hover{
   
    }
   
    */
    
   
   
   
   
    /* footer */
    footer{
      height: 150px;
      background-color:#191A20;
    }
   
    #left_footer{
      float: left;
      height: 100%;
    }
   
   #foot_list{
      float: left;
      width: 100%;
      margin: 20px 0;
   }
   
   #foot_list li{
      float: left;
      font-size: 10px;
      margin-right: 10px;
      text-align: center;
   }
   
   #foot_list a{
      color: rgb(103, 103, 103);
   }
   
   #left_footer p{
      margin-top: 100px;
      color: rgb(86, 86, 86);
      font-size: 10px;
   }
   
   #foot_list li:hover a{
     color: rgb(164, 164, 164);
   }
   
   
   
   
   
    #right_footer{
      float: right;
    }
   
    #sns_btn{
      width: 100%;
      height: 50px;
    }
   
    #sns_btn li{
      float: left;
      margin-top:20px;
      margin-left: 20px;
    }
   
  
   
    #right_footer a{
      color: rgb(111, 111, 111);
    }
   
    #right_footer .logo{
      position: absolute;
      top: 50%;
      right: 0;
    }
   
   
   
   
   
   
   
   
   
   
   
   
       
   }